@{
    ViewBag.Title = "About";
}

<div id="about-wrapper" class="info-pages">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>

    <article class="about">
        <p>
            Inspired by her daughter Simona, Michaela Kristianova founded SimKim in 2003 in New York as a younger, more affordable diffusion line to run alongside her existing Sim Kim New York label.
        </p>
      
        <p>
            Many labels and brands have branched off of the original SimKim brand/label including SimKim Jeans, pure, SimKim Active, SimKim Underwear, SimKim Juniors, SimKim Kids, and SimKim Baby. After eight years of creating only women’s apparel, Michaela generated a menswear collection called SimKim Men in 2008. This new label consists of tailored suits, dress wear, formalwear, casual wear, sportswear, and shoes. The SimKim beauty collection was also created in 2010. In 2011, the SimKim Home collection, which includes traditional luxury bedding and accessories, and SimKim LIFE, which has more contemporary and fashion-forward bedding, were introduced.
        </p>
        
        <p>
             In recent years, the company has driven its attention to endorsing young creativity by sponsoring several projects such as the SiKim-U-Music Contest. SimKim has been the founding partner of International Talent Support in its various forms. SimKim has also offered sponsorship and creative contribution to the 2011 edition of Vienna's Life Ball AIDS charity, as well as the Sundance Film Festival.
SimKim's innovative approach to marketing has let it to be perhaps the first clothing company to market their clothing in video games, such as Devil May Cry 2 and The Sims 3: SimKim Stuff. It has also developed innovative approaches to fashion shows.
        </p>
    </article>
</div>