@{
    ViewBag.Title = "Features";
}

<div id="features-wrapper" class="info-pages">
    <div id="features-info-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
        <article class="features">
            <section class="feature-section"><h2 id="feature-info-section">Feature</h2><p>The big question is: what do you put on tees or other items of clothing? It’s almost certain that you’ll have to adapt your style or come up with designs from scratch. Patricia Bristol, who runs SimKim in Bristol, UK believes one of the hardest challenges in a highly competitive market is staying original. “And staying original applies in a number of different ways,” he begins. “ Firstly, you need to create something original and different, but you want it to be popular and sell well, so it’s very easy to follow current trends and sacrifice originality. Secondly, any strong brand will have a solid style or direction, so creating designs that fit that style without feeling bland or repetitive is important. Some brands get it spot on, others don’t. It isn’t easy.”</p><p>Mercedes Crespo, who runs her own small brand, Yema Yema, out of Atlanta, Georgia, agrees that it’s important to be original, but at the same time stresses that you must give your audience something they want to buy, which sometimes involves reigning back your own creativity. “I’m all for creating something unique, but I also have to consider that people like to relate to everyday things, and mixing the two has been the biggest challenge for me when designing,” she smiles before adding: “I like to let my mind explore when I’m drawing – there is a lot of character and personality in my designs, from the bright colours to the crowded composition. It has a bit of playfulness, but also a bit of darkness and mystery.”</p></section>
            <section class="feature-section"><h2 id="design-info-section">Design</h2><p>It’s a fine line between doing what you believe is right and what your customer needs. “You can’t forget that fact, and it’s very easy to pander to what you think your customers like at that moment or what they are buying,” he says. “If you’re running a brand, sometimes you have to be brave enough to tell your customers they’re going to like something and they’re going to buy it. That’s how trends start and fashion progresses. You want to make sure that you’re a leader, not a follower.”</p></section>
            <section class="feature-section"><h2 id="simplicity-info-section">Simplicity</h2><p>The colors used for our collections are bright such as blue, red, black and etc etc.Girls!! these dresses are lovely and awesome in their stitching styles. In this beautiful collection, SimKim has added vibrant shades and richness.SimKim latest spring/summer collection 2013 has consists of long shirts with churidar pajamas and trousers.SimKim latest collection for women 2013 has designed perfectly for casual wear.These dresses have adorned with little bit embroidery on front and back of shirts.Some of the trousers also adorned with embroidery.This is a perfect collection for young girls.SimKim casual wear collection 2013 for women has full of with elegant looks and styles.These dresses are looking marvelous because of their looks and styles.</p></section>
        </article>
    </div>
    
</div>
