@{
    ViewBag.Title = "Help";
}

<div id="help-wrapper" class="info-pages">
    <div class="help">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
        Have a question?&nbsp;<a href="~/Home/Contact">Contact us</a>
    </div>
</div>
