@{
    ViewBag.Title = "Home";
}

<div id="main-content-background-wrapper">
	<div id="main-content-wrapper">
		<section id="section-main-info">	
			<h1 id="main-header">Simona makes your outfit easy</h1>
			<h2 id="sub-header">Our customers knows the best way to style</h2>
		</section>
		<section id="section-news" class="main-content-section">
			<a href="~/Home/News" title="Lately News"><span>Check out our lately news</span></a>
		</section>
		<section id="section-download" class="main-content-section">
			<span>Click here to download our latest catalogue</span>
            <br />
            <form method="get" action="../../Data/Catalogues/SimKim-Summer-2013.pdf">
                <button type="submit">Summer 2013 Catalogue</button>
            </form>
		</section>
	</div>	
</div>	
<div class="clearfix"></div>
<div id="feature-background-wrapper">
	<section id="feature">
		<ul>
            <li><div id="sprite-Feature-Item-1"></div><h2>Feature</h2><p>
                                                                          The big question is: what do you put on tees or other items of clothing? It’s almost certain that you’ll have to adapt your style or come up with designs from scratch. Patricia Bristol, who ... 
                                                                      </p>
                <a href="~/Home/Features#feature-info-section">Read more ></a></li><li><div id="sprite-Feature-Item-2"></div><h2>Design</h2><p>
                                                                                                             It’s a fine line between doing what you believe is right and what your customer needs. “You can’t forget that fact, and it’s very easy to pander to what you think your customers like at that ...
                                                                                                         </p>
                <a href="~/Home/Features#design-info-section">Read more ></a></li><li><div id="sprite-Feature-Item-3"></div><h2>Simplicity</h2><p>
                                                                                                                    The colors used for our collections are bright such as blue, red, black and etc etc.Girls!! these dresses are lovely and awesome in their stitching styles.
                                                                                                                </p>
			<a href="~/Home/Features#simplicity-info-section">Read more ></a></li>
		</ul>
	</section>	
</div>